﻿@page "/tours"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Tours</h1>


@if (ToursState.Value.IsLoading)
{
    <SpinnerComponent></SpinnerComponent>
}
else
{
    <MatTable Items="ToursState.Value.Tours" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>@context.Description</td>
            <td>@context.TourDate.ToShortDateString()</td>
        </MatTableRow>
    </MatTable>
    <div>
        <MatButton Raised="true" @onclick="AddTour" Icon="add">Add new Tour</MatButton>
    </div>
}
