﻿@page "/tourdetailform/{Mode}/{TourId}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Tour detail form</h3>

@if (TourState.Value.IsLoading)
{
    <SpinnerComponent></SpinnerComponent>
}
else if (!TourState.Value.IsLoading)
{
<EditForm Model="validationModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <p>
        <MatTextField Outlined="true" @bind-Value="validationModel.Title" Label="Title"></MatTextField>
        <ValidationMessage For="@(() => validationModel.Title)" />
    </p>
    <p>
        <MatTextField Outlined="true" @bind-Value="validationModel.Description" Label="Description"></MatTextField>
        <ValidationMessage For="@(() => validationModel.Description)" />
    </p>
    <p>
        <MatDatePicker Label="Tour Date" Maximum="DateTime.Now.AddDays(31)" Minimum="DateTime.Now.AddDays(1)" @bind-Value="TourState.Value.SelectedTour.TourDate" Format="MMMM dd, yyyy"></MatDatePicker>
        <ValidationMessage For="@(() => validationModel.TourDate)" />

    </p>
    <p>
        <MatButton Outlined="true" Icon="favorite">Cancel</MatButton>
        <MatButton Raised="true" Icon="favorite">@Mode</MatButton>
    </p>
</EditForm>
}

