﻿@using Fluxor
@inherits LayoutComponentBase
<MatThemeProvider Theme="@SelectedTheme">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" OnClick="ButtonClicked"></MatIconButton>
                    <MatAppBarTitle>Rudai - Blazor Material  Identity Server 4</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.Start">
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton OnClick="@OnClick2" @ref="Button2" Icon="favorite"></MatIconButton>
                    <MatMenu @ref="Menu2">
                        <MatList OnClick="ChangeTheme">
                            <MatListItem OnClick="ChangeTheme">Theme 1></MatListItem>
                            <MatListItem OnClick="ChangeTheme2">Theme 2></MatListItem>
                        </MatList>
                    </MatMenu>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>
    </MatAppBarContainer>
    <NavMenu IsLeftDrawerOpen="@Opened" />

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
    </MatThemeProvider>
    @code
{

        bool Opened = false;

        BaseMatIconButton Button2;
        BaseMatMenu Menu2;
        MatTheme SelectedTheme;

        private MatTheme theme1 = new MatTheme()
        {
            Primary = MatThemeColors.Teal._500.Value,
            Secondary = MatThemeColors.BlueGrey._500.Value,

        };

        MatTheme theme2 = new MatTheme()
        {
            Primary = "green",
            Secondary = "orange"
        };

        protected override void OnInitialized()
        {
            SelectedTheme = theme1;
            base.OnInitialized();
        }

        public void ChangeTheme()
        {
            SelectedTheme = theme1;
        }

        public void ChangeTheme2()
        {
            SelectedTheme = theme2;
        }

        public void OnClick2(MouseEventArgs e)
        {
            this.Menu2.OpenAsync(Button2.Ref);
        }

        void ButtonClicked()
        {
            Opened = !Opened;
        }

    }
